@page
@model AppCV_ProyectoWebRazor.Pages.Personas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Persona.Nombres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Persona.Nombres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Persona.ApellidoPat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Persona.ApellidoPat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Persona.ApellidoMat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Persona.ApellidoMat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Persona.Domicilio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Persona.Domicilio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Persona.Correo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Persona.Correo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Persona.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Persona.Telefono)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Persona.IdCurriculo" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
